html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Estilos para las órdenes */
.new-order {
    background-color: #fff8e1 !important; /* Fondo amarillo claro */
}

/* Para el badge de "Nueva" */
.badge.bg-warning {
    font-size: 0.75em;
    vertical-align: middle;
    margin-right: 5px;
}

/* Resaltar filas no entregadas */
.table-warning {
    --bs-table-bg: #fff3cd; /* Color de fondo para pendientes */
}

/* Badge para pendientes */
.badge.bg-warning {
    background-color: #ffc107 !important;
    color: #000 !important;
    font-size: 0.75em;
    padding: 3px 6px;
    border-radius: 4px;
}

/* Fondo para filas pendientes */
.table-warning {
    --bs-table-bg: #fff3cd;
    --bs-table-striped-bg: #f9e8a8;
    --bs-table-hover-bg: #f5df7d;
}

.dropdown-toggle::after {
    margin-left: 0.5em;
}

.localidad-filter.active {
    background-color: #e9ecef;
    font-weight: 500;
}

.custom-margin-top {
    margin-top: 0px;
}

#sponsorCarousel img {
    max-height: 100px;
    object-fit: contain;
}

.text-primary {
    color: #336699 !important;
}

.btn-primary {
    background-color: #336699;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #28527a; /* un poco más oscuro al pasar el mouse */
    color: white;
}

.btn-outline-primary {
    color: #336699;
    border-color: #336699;
}

.btn-outline-primary:hover {
    background-color: #336699;
    color: #fff;
    border-color: #336699;
}

.card-fixed {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    flex-grow: 1;
}

.btn-ver {
    width: 100%;
}